<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav">
    </div>
    <div class="col-sm-9 text-left jumbotron">
      <div>
        <form>
          <div class="form-group">
            <p>create new</p>
            <textarea #newpostarea type="text" class="form-control"></textarea>
            <small #postalert class="text-danger" hidden>please enter something to post</small>
          </div>
          <div class="form-group"><button class="btn btn-primary float-right" (click)="newpost(newpostarea.value,postalert);newpostarea.value='';">post</button></div>
        </form>
      </div>
      <div>

        <!-- <div *ngFor="let post of posts">{{post.post}}
          <div *ngFor="let comment of post.comments">{{comment}}</div>

        </div> -->
        <div *ngFor="let post of posts">
          <!-- <ng-container *ngIf="post.comments.length"> -->
          <!-- <h1>{{user.name}}'s Posts</h1> -->

          <div class="container">
            <p class="lead">{{post.post}}</p>
            <div *ngFor="let comment of post.comments" class="container">
              <div>
                <p class="commentUser">{{comment.user}}:</p>
                <p class="comment">{{comment.content}}</p>
              </div>
            </div>
            <textarea #commentvar class="form-control" rows="1"></textarea>
            <small class="text-danger" #commentvalid hidden>comment should not be empty</small>
            <button class="btn btn-primary btn-sm float-right" (click)="postComment(commentvalid,commentvar.value,post._id)">comment</button>
          </div>
        <!-- </ng-container> -->
        <br>
        </div>
      </div>
    </div>
    <div class="col-sm-1 sidenav">
    </div>
  </div>
</div>
<!-- <div>somepost here</div>
<form>
<div class="form-group">
  <textarea name="comment" class="form-control"></textarea>
</div>
<div class="form-group">
  <button class="btn-sm btn-primary float-right">comment</button>
</div>
</form> -->
