<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav">
    </div>
    <div class="col-sm-9 text-left jumbotron">
      <div>
        <form>
          <div class="form-group">
            <p>post here</p>
            <textarea #newpostarea type="text" class="form-control"></textarea>
          </div>
          <div class="form-group"><button class="btn btn-primary float-right" (click)="newpost(newpostarea.value);newpostarea.value='';">post</button></div>
        </form>
      </div>
      <div>
       My posts go here
        <!-- <div *ngFor="let post of users">{{post.post}}
          <div *ngFor="let comment of post.comments">{{comment}}</div>

        </div> -->
        <div *ngFor="let user of users">
          <ng-container *ngIf="user.comments.length">
          <!-- <h1>{{user.name}}'s Posts</h1> -->

          <div>
            <p class="lead">{{user.post}}</p>
            <div *ngFor="let comment of user.comments">
              <div>
                <p>{{comment}}</p>
                <p>by: {{user.userId}}</p>
              </div>
            </div>
            <textarea #comment class="form-control" rows="1"></textarea>
            <button class="btn btn-primary btn-sm float-right" (click)="postComment(comment,user.email)">comment</button>
          </div>
          <hr class="my-4">
        </ng-container>
        </div>
      </div>
    </div>
    <div class="col-sm-1 sidenav">
    </div>
  </div>
</div>
<!-- <div>somepost here</div>
<form>
<div class="form-group">
  <textarea name="comment" class="form-control"></textarea>
</div>
<div class="form-group">
  <button class="btn-sm btn-primary float-right">comment</button>
</div>
</form> -->