<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
    <div class="jumbotron container">
      <form (submit)="registerUser()">

        <table align="center">
  <tr>
        <div class="form-group">
         <input type="text" class="form-control" [(ngModel)]="name" placeholder="Name" name="name">
        </div>
      </tr>
      <tr>
            <div class="form-group">
             <input type="text" class="form-control" [(ngModel)]="username" placeholder="email" name="username">
            </div>
          </tr>
      <tr>
          <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" name="password">
        </div>
      </tr>
      <tr>
        <input type="submit" value="Register" class='btn btn-primary btn-block'>
      </tr>

      </table>
      </form>
    </div>
  </div>
